<header class="display-flex justify-space-between align-center p-2">
  <nav>
    <a href="/">
    <button class="btn" id="home">Home</button>
    </a>
    <button class="btn" id="dashboard">Dashboard</button>
    <a href="/login">
    <button class="btn" id="logout">Logout</button>
    </a>
  </nav>
  <h1>
    Your Dashboard
  </h1>



</header>

<div id="previous-posts">

</div>

<div id="post-content" >
   

</div>
<br>
<br>
<div>
    <button class="btn" id="new-post">Add New Post</button>
</div>
<script src="./js/dashBoard.js"></script>