<header class="display-flex justify-space-between align-center p-2">
  <nav>
    <button class="btn" id="logout">Home</button>
    <button class="btn" id="logout">Dashboard</button>
    <button class="btn" id="logout">Logout</button>
  </nav>
  <h1>
    Your Dashboard
  </h1>



</header>

<div>
    <button class="btn" id="new-post">Add New Post</button>
</div>