<header class="display-flex justify-space-between align-center p-2">
  <nav>
    
    <button class="btn" id="home">Home</button>
    <a href="/dashboard">
    <button class="btn" id="dashboard">Dashboard</button>
    </a>
    <a href="/login">
    <button class="btn" id="login">Login</button>
    </a>
    {{#if logged_in}}
    <button class="btn" id="logout">Logout</button>
    {{/if}}

  </nav>
  <h1>
    The Tech Blog
  </h1>



</header>

{{#each blogs as |blog| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{blog.title}}</h2>
  </div>
  <div class="col-md-6">
    <p>{{blog.body}}</p>
  </div>
</div>
{{/each}}