<header class="display-flex justify-space-between align-center p-2">
  <nav>
    
    <a href="/"><button class="nav-button" id="home">Home</button></a>
    <button class="nav-button" id="dashboard">Dashboard</button>
    <a href="/login"><button class="nav-button" id="login">Login</button></a>
    {{#if logged_in}}
    <button class="nav-button" id="logout">Logout</button>
    {{/if}}

  </nav>
  <h1>
    The Tech Blog
  </h1>



</header>

<div class="container">
   <div class="card4">
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <br>
      <div class="form-group1">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <br>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <br> 
        <button class="btn btn-primary" type="submit" id="submit">Signup</button>
      </form>
      
      </div>
      
  </div>
  
  <script src="/js/signUp.js"></script>