body {
    background-color: beige;
    max-width: none;
}

header {
    
    background-color: rgb(66, 41, 41);
    padding: 5px;
    margin: 0;
    width: 100%; /* Set the width to 100% */
    box-sizing: border-box; /* Include padding within the width */
  }

nav {
    margin: 10px; 
}

h1 {
    border-style: solid;
    background-color: beige;
    display: inline;
   
}

.main {
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
}

.col-md-12.header {
    color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(66, 41, 41);
}

