body {
    background-color: beige;
    max-width: none;
}

header {

    background-color: rgb(66, 41, 41);
    padding: 5px;
    margin: 0;
    width: 100%;
    /* Set the width to 100% */
    box-sizing: border-box;
    /* Include padding within the width */
}

nav {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

h1 {
    margin-left: 30px;
    border-style: solid;
    background-color: beige;
    display: inline;

}

.main {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.col-md-12.header {
    display: flex;
    color: beige;
    background-color: rgb(66, 41, 41);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.col-md-12.comments {
    display: flex;
    color: beige;
    background-color: rgb(66, 41, 41);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.previous-comments {
    border-style: solid;
    padding: 10px;
    margin: 5px;
}

.blog-post.button {
    background-color: beige;
    border-style: solid;
    border-color: black;
}

.mb-5 {
    margin-bottom: 0rem !important;
}

.nav-button {
    border-style: none;
    color: beige;
    background-color: rgb(66, 41, 41);
    margin-right: 30px;
}

.container.container-fluid.mt-5 {
    margin-top: 0px;
    min-width: 100%;
}